@model Vaccine.Domain.Domain.VaccinationCenter

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VaccinationCenter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a  asp-controller="Vaccines" asp-action="Create" asp-route-id="@Model?.Id">Add Patient to @Model.Name</a>
</div>

@if(Model.Vaccines != null)
{
    

<table class="table">
    <thead>
        <tr>
            <th>
               First Name
            </th>
            <th>
               Last Name
            </th>
            <th>
                Date Taken
            </th>
            <th>
               Center
            </th>
            <th>
                Certificate
            </th>
        </tr>
    </thead>

    
    <tbody>
        @foreach (var item in Model.Vaccines)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientFor.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientFor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Center.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificate)
                </td>
            </tr>
        }
    </tbody>
</table>
}

@* <table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Date Taken
            </th>
            <th>
                Center
            </th>
            <th>
                Certificate
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in ViewBag.Centers)
        {
            <tr>
                <td>
                    @item.PatientFor.FirstName
                </td>
                <td>
                    @item.PatientFor.LastName
                </td>
                <td>
                    @item.DateTaken
                </td>
                <td>
                    @item.Center.Name
                </td>
                <td>
                    @item.Certificate
                </td>
            </tr>
        }
    </tbody>
</table>
 *@

